<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.elaya.mytodo">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".project.ProjectActivity"
            android:label="@string/title_main">
            <intent-filter android:label="MyToDo">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".project.EditProjectActivity"
            android:label="@string/title_activity_edit_project" />
        <activity
            android:name=".todo.TodoActivity"
            android:label="@string/title_activity_todo" />
        <activity
            android:name=".todo.EditToDoActivity"
            android:label="@string/title_activity_edit_todo"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".status.StatusActivity"
            android:label="@string/title_activity_status" />
        <activity
            android:name=".status.EditStatusActivity"
            android:label="@string/title_activity_edit_status" />
        <activity
            android:name=".tools.HelpActivity"
            android:label="@string/title_activity_help" />
        <activity
            android:name=".settings.DateSettingsEditor"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".todo.ShowTodoActivity"
            android:label="@string/title_show_todo" />
        <activity
            android:name=".filter.FilterActivity"
            android:label="@string/title_todo_filters"/>
        <activity
            android:name=".filter.EditFilterActivity"
            android:windowSoftInputMode="adjustResize" />


    </application>

</manifest>